body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;
}

.darkbox {
  background-color: darkblue;
}

.textbox {
  color: lightgreen;
  text-align: center;
}

.lightgreybox {
  background-color: lightgrey;
  padding: 1em;
}
